/*basic setting*/

html,
body {
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: black;
}

.jumbotron,
.row {
    margin: 40px 0px;
}


/*slider*/

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.carousel-control-next-icon {*/

/* background-color: #56CCF2;*/

/*}*/

/*.carousel-control-prev-icon {*/

/* background-color: #56CCF2;*/

/*}*/

/*media query*/

.card-columns {
    column-count: 1;
}



#sf-bg {
    display: table;
    background: url('imgs/chemical2.jpg') no-repeat center fixed;
    background-size: cover;
    height: 10vw;

}

#info {
    display: table;
    background: linear-gradient( rgba(211, 211, 211, 0.4),
    rgba(211, 211, 211, 0.4)),
    url('imgs/chemical1.jpg') no-repeat center fixed;
    background-size: cover;
    height: 13vw;
    font-family: 'Abril Fatface', cursive;
    width:80%;
    margin-top: 5%;

}

.container {
    width: 100%;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
    font-size:7vw;
}

@media(min-width: 768px) {

    .carousel-indicators {
        bottom: -500px;
    }
    .card-columns {
        column-count: 2;
    }
}

@media(min-width: 992px) {

    .card-columns {
        column-count: 3;
    }

}


@media(min-width: 1200px) {

    .carousel-indicators {
        bottom: -500px;
    }

    .card-columns {
        column-count: 4;
    }
}


/*navbar*/

.nav-font {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;

}

/*.navbar-brand {*/
/*    float: right;*/
/*}*/

.topnav {
    /*background-color: #333;*/
    text-align: center;
}

/* Style the links inside the navigation bar */

.topnav a {
    display: inline-block;
    color: gray;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

/*#search-bar {*/
/*    display: inline-block;*/
/*}*/

.dropdown-menu {
    text-align: center;
}






#about {

    display: table;

    width: 100%;

    min-height: 100%;

    height: 100%;

    background: linear-gradient( rgba(78, 84, 200, 0.5),

    rgba(143, 148, 251, 0.5)),

    url('https://danwoog.files.wordpress.com/2018/02/pic-saugatuck-river-mark-molesworth.jpg') no-repeat center fixed;

    background-size: cover;

    text-align: center;

}

/*.card-columns .card {*/

/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

/*    border-radius: 15px*/

/*}*/

.number {
    border-bottom: 1px solid #c0091f;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    text-align: center;
    margin: 5px auto;
    display: table;
}

.sf1 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/one.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sf2 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/two.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sf3 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/three.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sf4 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/four.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sf5 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/five.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sf6 {
    background: linear-gradient( rgba(211, 211, 211, 0.65),
    rgba(211, 211, 211, 0.65)),
    url('imgs/six.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/*gallery*/

#gallery {}



#footer {
    text-align: center;
}

/*hexagon*/

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
}

.hex {
    position: relative;
    visibility: hidden;

}

.hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%;
}

.hexIn {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%;
    /* =  width / sin(60) */
    margin: 0 2%;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
    /* fix for jagged edges in FF on hover transition */
}

.hexLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1,
.hex p {
    color:white;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.hex p {
    top: 50%;
    padding-bottom: 50%;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}


/*** HOVER EFFECT  **********************************************************************/

.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
    -webkit-transform: translate3d(1, 0, 0);
    -ms-transform: translate3d(1, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:1201px) {
    /* <- 5-4  hexagons per row */
    #hexGrid {
        padding-bottom: 4.4%
    }
    .hex {
        width: 20%;
        /* = 100 / 5 */
    }
    .hex:nth-child(9n+6) {
        /* first hexagon of even rows */
        margin-left: 10%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    /* <- 4-3  hexagons per row */
    #hexGrid {
        padding-bottom: 5.5%
    }
    .hex {
        width: 25%;
        /* = 100 / 4 */
    }
    .hex:nth-child(7n+5) {
        /* first hexagon of even rows */
        margin-left: 12.5%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width:601px) {
    /* <- 3-2  hexagons per row */
    #hexGrid {
        padding-bottom: 7.4%
    }
    .hex {
        width: 33.333%;
        /* = 100 / 3 */
    }
    .hex:nth-child(5n+4) {
        /* first hexagon of even rows */
        margin-left: 16.666%;
        /* = width of .hex / 2  to indent even rows */
    }
}


/*#nav-left {*/

/*    vertical-align: right;*/

/*}*/

@media (max-width: 600px) {
    /* <- 2-1  hexagons per row */
    #hexGrid {
        padding-bottom: 11.2%
    }
    .hex {
        width: 50%;
        /* = 100 / 3 */
    }
    .hex:nth-child(3n+3) {
        /* first hexagon of even rows */
        margin-left: 25%;
        /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}




.tile {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';

}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
       z-index:99; 
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {

    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
       opacity:0; 
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
       background-color:#99aeff; 
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}



.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}



@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}



.wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: space-around;
    max-width: 1200px;
}

.tile {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';

}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
       z-index:99; 
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {

    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
       opacity:0; 
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
       background-color:#99aeff; 
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.dots span {
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease;
    transform: translateY(30px);

}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}


@media (max-width: 1000px) {

    .wrap {
        flex-direction: column;
        width: 400px;
    }
}
